---
import IMenuItem from './IMenuItem';

interface Props {
  item: IMenuItem;
}

const { item } = Astro.props;
const { label, url, target = '_self' } = item as IMenuItem;
---

<li>
  <a href={url} target={target} class="hover:text-orange-400 transition font-medium">{label}</a>
</li>