---
import { getProducts } from '../api/products';
import MainLayout from '../components/layouts/MainLayout.astro';
const { products } = await getProducts();
---

<MainLayout title="Products">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {products.map(product => (
      <div class="rounded-md p-4 border-t border-b border-blue-100 shadow-md hover:shadow-lg transition-all cursor-pointer hover:scale-105">
        <h3>{product.title}</h3>
        <div class="flex items-center justify-center h-full">
          <img class="w-full h-auto max-w-full" src={product.images[0]} alt={product.title}>
        </div>
      </div>
    ))}
  </div>
</MainLayout>
